<div class="container-fluid">
  <div class="row">
    <div class="col-12 mt-2">
      <h2 class="my-3">Projetos</h2>
      <hr class="w-100">
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-12">
      <div class="card mt-3">
        <full-calendar [options]="calendarOptions"></full-calendar>
      </div>
    </div>
  </div> -->
  <div class="row">
    <div class="col-md-4 mt-3">
      <div class="card project-card p-3" style="cursor: pointer;">
        <h2>Projeto 1</h2>
        <small>Criado em 16/07/2024</small>
        <h3 class="mt-3">Tarefas: <span class="text-primary">34</span></h3>
        <h3 class="mt-3">Termina em: <span class="text-primary">25/10/2024</span></h3>
        <mat-progress-bar class="mt-3" mode="determinate" value="{{ getRemainingProgress('2024-10-25 00:00:00', '2024-07-16 00:00:00') }}"></mat-progress-bar>
        <small>{{ getProjectRemaining('2024-10-25 00:00:00') }} dias restantes</small>
        <div *ngIf="getProjectRemaining('2024-10-25 00:00:00') <= 0" class="alert-late">
          Atrasado
        </div>
      </div>
    </div>
    <div class="col-md-4 mt-3">
      <div class="card project-card p-3" style="cursor: pointer;">
        <h2>Projeto 2</h2>
        <small>Criado em 22/08/2024</small>
        <h3 class="mt-3">Tarefas: <span class="text-primary">8</span></h3>
        <h3 class="mt-3">Termina em: <span class="text-primary">13/10/2024</span></h3>
        <mat-progress-bar class="mt-3" mode="determinate" value="{{ getRemainingProgress('2024-10-13 00:00:00', '2024-08-22 00:00:00') }}"></mat-progress-bar>
        <small>{{ getProjectRemaining('2024-10-13 00:00:00') }} dias restantes</small>
        <div *ngIf="getProjectRemaining('2024-10-13 00:00:00') <= 0" class="alert-late">
          Atrasado
        </div>
      </div>
    </div>
    <div class="col-md-4 mt-3">
      <div class="card project-card p-3" style="cursor: pointer;">
        <h2>Projeto 3</h2>
        <small>Criado em 01/09/2024</small>
        <h3 class="mt-3">Tarefas: <span class="text-primary">8</span></h3>
        <h3 class="mt-3">Termina em: <span class="text-primary">18/10/2024</span></h3>
        <mat-progress-bar class="mt-3" mode="determinate" value="{{ getRemainingProgress('2024-10-18 00:00:00', '2024-09-01 00:00:00') }}"></mat-progress-bar>
        <small>{{ getProjectRemaining('2024-10-18 00:00:00') }} dias restantes</small>
        <div *ngIf="getProjectRemaining('2024-10-18 00:00:00') <= 0" class="alert-late">
          Atrasado
        </div>
      </div>
    </div>
    <div class="col-md-4 mt-3">
      <div class="card project-card p-3" style="cursor: pointer;">
        <h2>Projeto 4</h2>
        <small>Criado em 14/09/2024</small>
        <h3 class="mt-3">Tarefas: <span class="text-primary">8</span></h3>
        <h3 class="mt-3">Termina em: <span class="text-primary">19/09/2024</span></h3>
        <mat-progress-bar class="mt-3" mode="determinate" value="{{ getRemainingProgress('2024-09-19 00:00:00', '2024-09-14 00:00:00') }}"></mat-progress-bar>
        <small>{{ getProjectRemaining('2024-09-19 00:00:00') }} dias restantes</small>
        <div *ngIf="getProjectRemaining('2024-09-19 00:00:00') <= 0" class="alert-late">
          Atrasado
        </div>
      </div>
    </div>
  </div>
</div>
