<div class="sidebar" *ngIf="showMenu" [ngClass]="cssCollapsedSidebar()">
  <div class="sidebar-content">
    <div class="fadeIn sidebar-control">
      <h3 class="my-3">Seja bem vindo(a)!</h3>
      <button (click)="toggleSidebar()" style="position: absolute; top: 65px; right: 5px;" class="mt-3" mat-icon-button color="primary">
        <mat-icon>{{ collapsedSidebar ? 'chevron_right' : 'chevron_left'}}</mat-icon>
      </button>
    </div>
    <div class="fadeIn" *ngFor="let item of items">
      <h5>{{ item.label }}</h5>
      <div class="vertical-nav-menu">
        <ul class="menu-container">
          <li
            class="menu-item"
            *ngFor="let it of item.items"
            [ngClass]="{ disabled: it.disabled }"
          >
            <div style="margin-top: 5px" *ngIf="it.type == 'dropdown'">
              <a
                class="menu-link menu-dropdown"
                (click)="toggleMenuContainer(item, it)"
                [ngClass]="checkMenuDropDownActive(it)"
              >
                <mat-icon class="menu-icon">{{ it.icon }}</mat-icon>
                <span>{{ it.label }}</span>
                <mat-icon class="state-icon">expand_more</mat-icon>
              </a>
              <ul
                class="menu-container"
                [ngClass]="checkMenuContainerDropDownActive(it)"
              >
                <li class="menu-item" *ngFor="let i of it.items">
                  <a
                    (click)="navigate(i.route)"
                    [routerLink]="i.route"
                    routerLinkActive="active"
                    class="menu-link"
                  >
                    <span>{{ i.label }}</span>
                  </a>
                  <!-- <a
                    (click)="navigate(i.route)"
                    [routerLink]="i.route"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    class="menu-link"
                  >
                    <span>{{ i.label }}</span>
                  </a> -->
                </li>
              </ul>
            </div>
            <div style="margin-top: 5px" *ngIf="it.type == 'route'">
              <a
                (click)="navigate(it.route)"
                [routerLink]="it.route"
                routerLinkActive="active"
                class="menu-link"
              >
                <mat-icon class="menu-icon">{{ it.icon }}</mat-icon>
                <span>{{ it.label }}</span>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
