<mat-form-field [formGroup]="formGroup"  class="form-control crr-inpgroup" appearance="outline">
  <mat-label>{{label}}</mat-label>
  <input
      matInput
      [ngxTimepicker]="picker"
      [format]="24"
      [disableClick]="true"
      [id]="elementId"
      color="primary"
      [type]="type"
      [readonly]="true"
      [formControlName]="elementId"
      [placeholder]="placeholder"
  >
  <button class="clear-input-button" *ngIf="control.value != null && (elementRef != '')" matTooltip="Limpar" color="primary" (click)="resetValue()" mat-icon-button><mat-icon color="primary">close</mat-icon></button>

  <ngx-material-timepicker-toggle [for]="picker">
    <mat-icon class="mr-1" matSuffix ngxMaterialTimepickerToggleIcon>timer</mat-icon>
  </ngx-material-timepicker-toggle>

  <ngx-material-timepicker [format]="24" #picker></ngx-material-timepicker>
</mat-form-field>

<form-field-error [control]="control" [label]="label"></form-field-error>

<div class="form-control-group" [ngClass]="cssClass" *ngIf="loading">

  <div class="skeleton-loading" style="height: 100%; width: 100%;">
      <div class="bar"></div>
  </div>

</div>
