<div class="container-fluid h-100" [ngStyle]="{ 'background-color' : project?.color, 'color' : getContrastYIQ(project?.color) }">
  <div class="row" *ngIf="project">
    <div class="col-12 topper-project-page" [ngStyle]="{
      'background-color' : darkenColorPercent(project.color, 15),
      'box-shadow' : styleCardShadow(darkenColorPercent(project.color, 15))
      }">
      <form *ngIf="form" [formGroup]="form" enctype="multipart/form-data">
        <div style="flex: 4" class="text-center">
          <input class="hidden-input w-100" type="text" formControlName="name">
        </div>
        <div style="flex: 3" class="text-center date-group">
          <small>Data de entrega: </small>
          <input [matDatepicker]="picker" class="hidden-input ml-3 date-input" type="text" formControlName="expires_at">
          <mat-datepicker-toggle color="primary" matTooltip="Alterar Data" matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </div>
        <div style="flex: 2" class="text-center time-group">
          <input [ngxTimepicker]="timePicker" [format]="24" class="hidden-input ml-3 time-input" type="text" formControlName="expires_at_2">
          <ngx-material-timepicker-toggle matTooltip="Alterar Hora" [for]="timePicker">
            <button class="picker-icon flex-row-center-center" matSuffix ngxMaterialTimepickerToggleIcon mat-icon-button>
              <mat-icon>timer</mat-icon>
            </button>
          </ngx-material-timepicker-toggle>
          <ngx-material-timepicker [format]="24" #timePicker></ngx-material-timepicker>
        </div>
        <div style="flex: 2" class="text-center">
          <button
            mat-icon-button
            matTooltip="Membros"
            (click)="openMembers()"
            class="topper-menu-button"
          ><mat-icon [ngStyle]="{ 'color' : getContrastYIQ(project.color) }">group</mat-icon></button>
        </div>
        <div style="flex: 2" class="text-center">
          <form-colorpicker
            (changed)="refreshThemeColor()"
            [control]="form.get('color')"
          ></form-colorpicker>
        </div>
        <div style="flex: 1" class="text-center">
          <figure [matTooltip]="'Autor(a): '+project.author.name" class="mini-avatar mb-0 mr-3">
            <img src="./../../../../../../assets/images/avatar.webp">
          </figure>
        </div>
        <div style="flex: 1" class="text-center">
          <button
            [ngClass]="{ loading: submittingForm }"
            class="py-2"
            *ngIf="form.dirty"
            mat-raised-button
            color="primary"
            (click)="submit()"
          >Salvar Alterações</button>
        </div>
      </form>
    </div>
    <div class="col-12 px-0"><hr [ngStyle]="{ 'border-color' : darkenColorPercent(project.color, 15)}" class="w-100"></div>
  </div>
  <div class="row" style="height: calc(100% - 80px);" *ngIf="project">
    <div class="col-12">
      <tasker-kanban [project]="project"></tasker-kanban>
    </div>
  </div>
  <div class="row" *ngIf="!project">
    <div class="col-12 mt-5 text-center">
      <p class="mt-5">Carregando...</p>
      <mini-loader></mini-loader>
    </div>
  </div>
</div>
<members-modal [data]="membersArray"></members-modal>
